#Home{
	padding: 100px;
	background-image: url(img/9557b9d5ce12fac.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.intro{
	color: #FFFFFF;
	
}
.ghostly{
	font-size: 55px;
	margin-bottom: 20px;
}


